.inspection {
    background-color: rgb(237, 238, 251);
    border: 2px solid rgb(5, 21, 44);
    border-radius: 0.5rem;
    padding: 1rem;
}

.inspection-info {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.btn-container {
    display: flex;
    justify-content: flex-end;
}
